<h2>Help</h2>
<p>This page displays all current bookings, as well as the last guest that occupied the house.</p>
<p>To mark a booking as confirmed (instead of reserved) or paid, simply click the corresponding button.</p>
<p>To delete a booking (perhaps because the guests cancelled), click the corresponding 'Delete' button.</p>
<p>It is not possible to edit bookings after they have been made. If a booking is incorrect, please delete and re-create it.</p>

<h2>Last and current guests</h2>
<div class="well-wrapper">
  <%= render @bookings_last %>
  <% if @bookings_current.empty? %>
    <p>Currently no-one is in the house.</p>
  <% else %>
    <%= render @bookings_current %>
  <% end %>
</div>

<h2>Upcoming Confirmed bookings</h2>
<div class="well-wrapper">
  <% if @bookings_confirmed.empty? %>
    <p>No confirmed guests yet.</p>
  <% else %>
    <%= render @bookings_confirmed %>
  <% end %>
</div>

<h2>Upcoming Reserved bookings</h2>
<div class="well-wrapper">
  <% if @bookings_reserved.empty? %>
    <p>There are no reserved bookings.</p>
  <% else %>
    <%= render @bookings_reserved %>
  <% end %>
</div>
