<h1>Pages</h1>

<% @pages.each do |page| %>
  <h2><%= page.name %></h2>
  <% if page.name == "home_page" %>
    <li><%= link_to "Edit photos", admin_photos_path %></li>
    <li><%= link_to "Edit paragraphs", admin_paragraphs_path %></li>
  <% end %>
    <!-- Link to paragraph edit -->
<% end %>
