* {
  box-sizing: border-box;
}

body.admin_panel {
  font-family: $font-body;
  height: 100vh;
  width: 100%;

  a {
    color: $base-dark;
    text-decoration: none;
    &:visited {
      color: $base-dark;
    }
    &:hover {
      color: $base-color;
    }
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: $font-title;
    font-weight: $font-bold-weight;
  }
}

.admin_navigation {
  margin-right: 10px;
  padding: 20px 20px;
  position: fixed;
  width: 200px;
  border-right: 1px solid $base-color;
  top: 0;
  bottom: 0;
  left: 0;
}
.admin_menu {

}
.admin_links {
  padding: 0;
}
.admin_link {
  list-style-type: none;
}
.admin_main {
  margin-left: 200px;
  padding: 5px 10px;
}
.bookings {
  display: flex;
  .well {
    margin-right: 10px;
    width: 300px;
  }
}

div.form-wrapper {
  h3 {
    margin: 0;
    padding: 0;
    text-decoration: underline;
  }
}
div.form-group {
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  align-items: center;
  label {
    font-weight: bold;
    margin-right: 10px;
  }
}

div.well {
  max-width: 300px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid $base-color;
  border-radius: 4px;
  display: flex;
  flex-direction: column;;
}
div.well-row-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
  span {
    margin: 5px;
  }
}
div.well-column-group {
  display: flex;
  flex-direction: column;
  div.well-row {
    padding: 5px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

div.well-divider {
  border-top: 1px solid $base-color;
  margin-bottom: 8px;
}
div.review-show {
  padding-top: 1px;
  padding-bottom: 5px;
  text-align: center;
}
div.well-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  span {
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
}
