.errorList {
    list-style: none;
    margin: 0;
    padding: 0;
}

.people {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 10px;
    margin: 2px;
    .input {
      width: 50%;
      margin-right: auto;
      margin-bottom: 5px;
    }
}
.buttons {
  width: 30%;
  display: flex;
  justify-content: center;
    .people_button {
        width: 30px;
        margin-right: 20px;
    }
}

.invoice {
  max-width: 400px;
  border: 2px solid $base-color;
  margin: 0 auto;
  padding: 20px;
}
