.home-text-container {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
}

.home-text-wrapper {
    max-height: 9000px;
    transition: all 1s ease-in-out;
}

.home-text-hidden {
    max-height: 150px;
    overflow-y: hidden;
}

.readmore {
    text-decoration: none;
    margin-top: 25px;
    display: inline-block;
    color: $base-color;
}

.reviews-container {
    margin-top: 50px;
    width: 100%;
    background-color: $light-base-color;
}

.reviews-wrapper {
    max-width: $content-width;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.reviews-item {
    color: white;
    width: calc(100%/3);
    padding: 30px;
    background-color: $base-color;
}

.reviews-item:nth-child(2) {
    background-color: $light-base-color;
}

.reviews-header {
    text-align: right;
}

.reviews-body {
    text-align: center;
}
