<h2>Seasonal Prices</h2>

<% if @price.errors.any? %>
  <% @price.errors.full_messages do |msg| %>
    <p><%= msg %></p>
  <% end %>
<% end %>

<% if @prices.any? %>
  <%= render @prices %>
<% else %>
  <p>No prices found. Add them below.</p>
<% end %>

<div class="form-wrapper">
  <h3>Add Prices</h3>
  <%= render 'form' %>
</div>
