<h2>Help</h2>
<p><strong>Important:</strong> Make sure there is a time period for <em>every</em>
day you plan to rent out the property.</p>
<p>Also make sure to let the new period begin the day after the previous period ends.</p>
<p>This page will currently display all periods. It is possible to delete them when they are no longer necessary to be shown.</p>

<h2>Seasonal Prices</h2>

<% if @price.errors.any? %>
  <% @price.errors.full_messages do |msg| %>
    <p><%= msg %></p>
  <% end %>
<% end %>

<div class="well-wrapper">
  <% if @prices.any? %>
    <%= render @prices %>
  <% else %>
    <p>No prices found. Add them below.</p>
  <% end %>
</div>

<div class="form-wrapper">
  <h3>Add Season</h3>
  <%= render 'form' %>
</div>
