<% Review.all.each do |review| %>
<div class="well">
  <div class="well-row-group">
    <span><%= review.name %></span>
  </div>
  <div class="well-column-group">
    <div class="well-row"><span>Name:</span><span><%= review.name %><span></div>
    <div class="well-row"><span>Stars:</span><span>
      <% review.stars.times do %>
        <img src="http://i.imgur.com/nbis287.png" alt="" height="10px" width="10px">
      <% end %>
      <% (5 - review.stars).times do %>
        <img src="http://i.imgur.com/VrtkzWz.png" alt="" height="10px" width="10px">
      <% end %>
    </span></div>
    <div class="well-row"><span>Review:</span></div>
    <div class="review-show"><blockquote>"<%= review.review %>"</blockquote></div>
  </div>
  <div class="well-actions">
    <span><%= link_to "Delete", admin_review_path(review), method: :delete %></span>
  </div>
</div>
<% end %>
