<h2>Reviews</h2>
<% if @reviews.any? %>
  <%= render "reviews" %>
<% else %>
  <p>No reviews found. Maybe do some <a href="http://www.marketingonline.nl/" target="_blank">marketing</a>?</p>
<% end %>
