<div class="content text-align">
    <h3>Price for the current booking</h3>

    <p>Booking from
        <span id="datein"> </span>
        to
        <span id="dateout"> </span>
    <p id="total_price"></p>
</div>
