.content_form {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;

    input {
        width: 100%;
        display: block;
    }

    fieldset {
        border: none;
    }

    .picker {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
        margin: 2px;

        div {
            width: 40%;
        }
    }

    textarea {
        min-width: 100%;
        max-width: 600px;
        height: auto;
    }

    label {
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .check_box {
        margin: 10px 0;

        label {
            margin: 0;
        }

        input {
            display: inline-block;
            width: auto;
        }
    }
}

.error-message {
    color: $warning-color;
    font-size: 14px;
    margin: 0 0 20px;
}

.content_form.short {
    max-width: 300px;

    textarea {
        max-width: 300px;
    }
}

.submit_samll {
    text-transform: uppercase;
    display: block !important;
    background-color: #6F8561;
    border: none;
    width: 220px !important;
    height: auto;
    border-radius: 3px;
    margin: 17px auto 0;
    font-size: 14px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    padding: 10px;
}

.submit {
    text-transform: uppercase;
    display: block !important;
    background-color: #6F8561;
    border: none;
    width: 220px !important;
    height: 40px;
    border-radius: 3px;
    margin: 17px auto 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
