<div class="carousel-container">
  <div class="carousel">
      <% @carousel.photos.each do |photo| %>
      <%= image_tag(photo.image_url(:standard)) %>
      <% end %>
  </div>
</div>

    <div class="content">
    <div>
        <% @paragraphs.each do |p| %>
        <div class="">
            <p><%= p.text%></p>
        </div>
        <% end %>
    </div>
</div>
