<ul id="reviews">
  <% @reviews.all.each do |review| %>
      <ul>
        <li><strong>Review by: </strong><%= review.name %></li>
        <li><strong>Stars: </strong>
          <% review.stars.times do %>
            <%= image_tag 'full_star.svg', class: 'star', alt: 'full star' %>
          <% end %>
          <% (5 - review.stars).times do %>
            <%= image_tag 'empty_star.svg', class: 'star', alt: 'empty star' %>
          <% end %>
        </li>
        <li><strong>Review: </strong><%= review.review %></li>
      </ul>
      <hr>
  <% end %>
</ul>
