
<div class="reviews-all-container">
  <div class="reviews-all-wrapper" id="reviews-all-wrapper">
    <% @reviews.all.each do |r| %>
    <div class="reviews-all-item">
      <div class="reviews-all-header">
        <p><%= r.name %></p>
      </div>
      <div class="reviews-all-body">
        <p>
          <strong>Stars:
          </strong>
          <% r.stars.times do %>
          <%= image_tag 'full_star.svg', class: 'star', alt: 'full star' %>
          <% end %>
          <% (5 - r.stars).times do %>
          <%= image_tag 'empty_star.svg', class: 'star', alt: 'empty star' %>
          <% end %>
        </p>
        <p><%= r.review %></p>
      </div>
    </div>
    <% end %>
  </div>
</div>
