<div id="TA_selfserveprop500" class="TA_selfserveprop">
    <ul id="ZHjNy0W8ui" class="TA_links jOeRj0Haf">
        <li id="Z15kzAHgo6" class="bJ8SvSqM">
            <a target="_blank" href="https://www.tripadvisor.nl/"><img src="https://www.tripadvisor.nl/img/cdsi/img2/branding/150_logo-11900-2.png" alt="TripAdvisor"/></a>
        </li>
    </ul>
</div>
<style>


    /* Changing tripadvisor styling */
    * {
        font-family: inherit;
    }
    div#CDSWIDSSP {
        width: 100% !important;
    }
    div.widSSPComponent,
    div.widSSPData {
        border: none !important;
    }
    div.widSSPLegal,
    div.widSSPSummary,
    dt.widSSPTagline {
        display: none !important;
    }
    div.widSSPData {
        border: 1px solid grey !important;
        margin-top: 30px;
        margin-bottom: 30px;
    }

</style>
