<div class="content review">
    <h1>Reviews</h1>

    <!-- Render tripadvisor and review partials -->
    <%= render "reviews" %>

    <p>Did you stay with us? We would like to hear your feedback.</p>

    <button id="show-partial">
        Tell us about your stay
    </button>

    <div style="display:none;" id="partial">
        <%= render "form" %>
    </div>

    <div id="tripadvisor">
        <%= render "tripadvisor" %>
    </div>
</div>
