<h1>Reviews</h1>

<%= render "reviews" %>

<p>Did you stay with us? We would like to hear your feedback.</p>

<button id="show-partial">
  Tell us about your stay
</button>

<div style="display:none;" id="partial">
  <%= render "form" %>
</div>

<script>
  $('#show-partial').click(function(){
      $('#partial').toggle();
  });
</script>
