<h1>Reviews</h1>
<% @reviews.all.each do |review| %>
  <ul>
    <li><strong>Review by: </strong><%= review.name %></li>
    <li><strong>Stars: </strong><%= review.stars %>/5</li>
    <li><strong>Review: </strong><%= review.review %></li>
  </ul>
<% end %>
