<footer>
  <div>Duis lacus dui, gravida vel eleifend vitae, venenatis ac.</div>
  <div>Aliquam gravida lacinia accumsan. Sed varius nec felis in.</div>
  <div>Sed eu convallis mi, vitae convallis est. Phasellus sed.</div>
</footer>
