<div class="booking-container">
    <div class="bookingtrigger" id="bookingtrigger">
        <a href="#">BOOK NOW</a>
    </div>
    <div class="bookingmodal">
        <form action="/bookings/new" method="get">
            <div class="bookinginput date">
                <label for="checkin">Check in</label><br>
                <input type="date" id="checkin" name="checkin"/>
            </div>
            <div class="bookinginput date">
                <label for="checkout">Check out</label><br>
                <input type="date" id="checkout" name="checkout"/>
            </div>
            <div class="bookinginput guests">
                <label for="guests">Guests</label><br>
                <input type="number" id="guests" name="guests"/>
            </div>
            <button class="submit" type="submit">BOOK NOW</button>
        </form>
    </div>
</div>
