<header class="navbar">
    <div class="content">
        <h1><span>Cas'al </span><span>Verde</span></h1>
        <nav>
            <a href="#">Book Now</a>
            <a href="#">Gallery</a>
            <a href="#">Reviews</a>

        </nav>
    </div>
</header>
